@using EFZ.Resources

@model EFZ.WebApplication.Models.BaseIndexModel
<div class="access-denied-body">
    <div class="row">

        <div class="col-10" style="padding-top: 1rem;">
            <h2>@Html.Raw(Labels.valUnautorizedAccess)</h2>
            <br />
            <br />

        </div>
    </div>
    <hr>



</div>