@using EFZ.Resources
<div class="text-center" style="padding-top: 3vh">
    <h2 class="display-4">@Labels.valPrivacyTitle</h2>
</div>

<div class="text-left"  style="max-width: 60vw; padding-left: 5vw;padding-top: 3vh">
    <p >@Labels.valPrivacyContent</p>
</div>